<!DOCTYPE html>
<html>
<head>
	<title>Alpha- Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website">
  <meta name="keywords" content="Alpha, template, html, sass, jquery">
  <meta name="author" content="Alpha Tanmoy">
  <link rel="icon" href="{{url_for('static',filename='img/logo.png')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static',filename='css/LRstyle.css') }}">
</head>
<body class="Alpha">
	<div class="page-content">
		<div class="Alpha-content">
			<div class="form-left">
				<img src="{{url_for('static',filename='img/LR.png') }}" alt="form">
			</div>
			<form class="form-detail" action="#" method="post">
				<h2>Register Form</h2>
				<div class="form-row">
					<input type="text" name="username" id="full-name" class="input-text" placeholder="Your Name" required>
				</div>
				<div class="form-row">
					<input type="text" name="email" id="your-email" class="input-text" placeholder="Email Address" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<input type="password" name="password" id="password" class="input-text" placeholder="Password" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
				<h4>Already have an account! <a href="/login">Login Now!</a></h4>
				<h5>Continue as a <a href="/">Guest!</a></h5>
			</form>
		</div>
	</div>
</body>
</html>